@use '@/shared/styles/breakpoints' as *;

.chat-page {
  display: flex;
  height: 100%;
  overflow: hidden;

  .chat-list {
    display: none;

    @include md {
      display: flex;
      border-radius: var(--radius-xl);
    }
  }
}
