@use '@/shared/styles/breakpoints' as *;

// .header {
//   padding: 12px;

//   @include md {
//     padding: 24px;
//   }

//   @include lg {
//     padding: 32px;
//   }
// }

.Header {
  display: flex;
  height: clamp(70px, 10dvh, 80px);
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--pad-lg);

  &__name-and-icon {
    align-items: center;
    display: flex;
    gap: var(--space-3);
    max-height: fit-content;
  }

  &__buttons {
    display: flex;
    gap: var(--space-1);

    button {
      font-size: var(--fs-md);
      padding: var(--pad-xs) var(--pad-sm);
    }

    @include xs {
      gap: var(--space-3);
    }
  }

  &__profile-bar {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    &--loading {
      opacity: 0.5;
      pointer-events: none;
    }

    &__profile-pic {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 1px solid #000;
    }
    .name-span {
      font-weight: 500;
    }
    .chevron {
      color: var(--color-primary-active);
    }
  }

  @include xs {
    padding: 0 var(--pad-xl);
  }

  @include sm {
    padding: 0 var(--pad-3xl);
  }
}
